# See http://help.github.com/ignore-files/ for more about ignoring files.

# Compiled output
/dist
/tmp
/out-tsc
/bazel-out

# Node
/node_modules
npm-debug.log
yarn-error.log

# IDEs and editors
.idea/
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# Visual Studio Code
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*

# Angular frontend project
/desafio-cnab-frontend/node_modules
/desafio-cnab-frontend/dist
/desafio-cnab-frontend/tmp
/desafio-cnab-frontend/out-tsc
/desafio-cnab-frontend/.angular/cache
/desafio-cnab-frontend/.sass-cache/
/desafio-cnab-frontend/connect.lock
/desafio-cnab-frontend/coverage
/desafio-cnab-frontend/libpeerconnection.log
/desafio-cnab-frontend/testem.log
/desafio-cnab-frontend/typings

# System files
.DS_Store
Thumbs.db

/desafio-cnab-backend/.DS_Store
/desafio-cnab-backend/.vs/*

/desafio-cnab-backend/Desafio.API/obj/*
/desafio-cnab-backend/Desafio.API/bin/*

/desafio-cnab-backend/Desafio.Application/obj/*
/desafio-cnab-backend/Desafio.Application/bin/*

/desafio-cnab-backend/Desafio.Domain/obj/*
/desafio-cnab-backend/Desafio.Domain/bin/*

/desafio-cnab-backend/Desafio.Infra/obj/*
/desafio-cnab-backend/Desafio.Infra/bin/*

/desafio-cnab-backend/Desafio.Service/obj/*
/desafio-cnab-backend/Desafio.Service/bin/*

/desafio-cnab-backend/Desafio.Test/obj/*
/desafio-cnab-backend/Desafio.Test/bin/*



