
<input type="date" #inputDate />
<button (click)="getAll()">Buscar Operações</button>

<table class="bold-table">
    <thead>
      <tr>
        <th>Data Importação</th>
        <th>Tipo</th>
        <th>Data</th>
        <th>Valor</th>
        <th>CPF</th>
        <th>Cartão</th>
        <th>Hora</th>
        <th>Representante Loja</th>
        <th>Loja</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of operacoes">
        <td>{{ item.data_importacao }}</td>
        <td>{{ item.tipo }}</td>
        <td>{{ item.data }}</td>
        <td>{{ item.valor }}</td>
        <td>{{ item.cpf }}</td>
        <td>{{ item.cartao }}</td>
        <td>{{ item.hora }}</td>
        <td>{{ item.representante_loja }}</td>
        <td>{{ item.loja }}</td>
      </tr>
    </tbody>
  </table>
  


